 body .board {
font-family: 'Arial';
background-color: #000080;
margin: 10px;
padding: 15px;
text-align: center;
color:#ededed;
 min-height: 90vh; }
body .board h1 {
padding: 10px;
font-size: 36px; 
Color:#4682B4;}
body .board button {
margin: 5px;
padding: 5px;
background-color: #04db12;
Color:white;
font-family: 'Arial';
font-style: bold;
font-size: 18px; }
body .board .btn-delete {
padding: 0 5px;
background-color: #ff0000; }
body .board .column-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap; 
 Color:blue;}
body .board .column-container .column {
display: inline-block;
background-color: #d6f2ff;
margin: 15px;
padding: 15px;
min-height: 300px;
min-width: 250px;
width: 25vw; }
body .board .column-container .column h2 {
font-style: bold;
font-size: 24px; }
body .board .column-container .column .column-card-list {
min-height: 150px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap; }
body .board .column-container .column .column-card-list .card {
list-style-type: none;
background-color: #9d00a8;
margin: 15px;
min-width: 15%;
max-width: 80%; }
body .board .column-container .column .column-card-list .card p {
padding: 10px;
margin: 5px 10px; }
 body .board .column-container .column .column-card-list .card .btn-delete {
 background-color: red;
 float: left; }